# Default ignored files
/shelf/
/.idea/workspace.xml
/pv021_project.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/data/*.csv